* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* header */
header {
    margin-top: 1.5rem;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 75%;

}

.zomato-logo {
    width: 175px;
    height: 32px;
}

.search-locality {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 50px;
    width: 75%;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.location-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.location-container img {
    width: 25px;
}

.down-arrow img {
    width: 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.vertical-line {
    height: 25px;
}

.dish-container {
    padding-right: 8rem;
    display: flex;
    gap: 1rem;
}

.dish-container img {
    width: 25px;
}

.dish-container input {
    border: none;
    width: 250px;
}

.dish-container input:focus {
    outline: none;
    border: none;
}

.dish-container input::placeholder {
    font-size: 0.9rem;
}

.right-header {
    display: flex;
    justify-content: space-around;
    width: 15%;
    cursor: pointer;
}

.right-header p {
    font-size: 1.2rem;
    color: rgb(105, 105, 105);
}

.right-header p:hover {
    color: black;
}

.detect-current-location {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    width: 30%;
    padding: 15px 30px;
    margin: 15px 0 0 295px;
    height: 80px;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    z-index: 1;
}

.detect-current-location img {
    width: 25px;
}

.detect-current-location-text {
    color: red;
    font-size: 1.2rem;
}

/* bread-cumb */
.bread-crumb {
    margin-top: -70px;
    padding: 0 6rem;
}

.bread-cumb-container p {
    color: rgb(130, 130, 130)
}

.bread-cumb-container p a {
    color: black;
}

.bread-cumb-container p a:hover {
    color: red;
}

/* categories */
.categories {
    padding: 0 6rem 3rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid rgb(236, 231, 231);
}

.categories-container {
    display: flex;
    gap: 1rem;
}

.delivery,
.dining-out,
.night-life {
    display: flex;
    align-items: center;
    height: 100px;
    width: 18%;
    padding-left: 25px;
    gap: 15px;
    margin-bottom: -3rem;
    cursor: pointer;
    color: rgb(105, 105, 105);
}

.delivery {
    border-bottom: 2px solid rgb(253, 74, 74);
}

.delivery p,
.dining-out p,
.night-life p {
    font-size: 1.2rem;
}

.delivery img,
.dining-out img,
.night-life img {
    width: 55px;
    padding: 0.2rem;
    background-color: rgb(248, 248, 248);
    border-radius: 12px;
}

.delivery img {
    background-color: yellow;
}

/* footer */
footer {
    margin-top: 4rem;
    background-color: rgb(248, 248, 248);
    padding: 0.2rem 8rem 0;
}

.footer-header {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

.footer-img {
    width: 10rem;
    height: 2rem
}

.footer-header-drop-down {
    display: flex;
    gap: 2rem;
    height: 42px;
}

.show-language,
.show-country {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid black;
    border-radius: 6px;
    width: auto;
    cursor: pointer;
    padding: 9px;
}

.show-language-on-language-box {
    font-size: 1rem;
}

.countries {
    position: relative;
}

/* country drop down */
.countries-drop-down {
    position: relative;
    top: -215px;
    right: 310px;
    width: 0.1rem;
    padding: 5px;
    display: none;
    z-index: 1;
}

.countries-drop-down-container {
    position: relative;
    bottom: 45px;
    right: -15px;
    width: 36rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 145px);
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0.1rem 4rem 4rem;
}

.triangular-box-1 {
    position: absolute;
    right: 210px;
    bottom: -10px;
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0.1rem 4rem 4rem;
}

.flag-with-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 7px;
    z-index: 1;
    padding: 5px 2px;
    cursor: pointer;
}

.flag-with-name:hover {
    background-color: rgb(248, 248, 248);
}

.languages img,
.countries img {
    width: 1.3rem;
}

/* languages drop down container  */
.languages {
    position: relative;
}

.languages-drop-down {
    display: none;
}

.languages-drop-down-container {
    position: absolute;
    left: -32px;
    bottom: 52px;
    width: 10rem;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0.1rem 4rem 4rem;
    padding: 0px 4px 5px 4px;
}

.triangular-box-2 {
    position: absolute;
    right: 70px;
    bottom: -10px;
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0.1rem 4rem 4rem;
}

.language-with-name {
    padding: 15px;
    cursor: pointer;
}


.language-with-name p {
    font-size: 1.2rem;
}


.language-with-name:hover {
    background-color: rgb(248, 248, 248);
}

/* footer hero section */
.footer-hero-section {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;

}

.footer-heading {
    font-family: monospace;
    font-size: 0.9rem;
    letter-spacing: 2.5px;
    margin-bottom: 1rem;
    font-weight: 900;
}

.footer-links {
    margin-bottom: 10px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}


/* social media */
.download img,
.social-links-container img {
    width: 25px;
    cursor: pointer;
}

.download {
    display: flex;
    justify-content: space-between;
    width: 9.8rem;
    background-color: rgb(35, 87, 87);
    padding: 0.5rem;
    margin-top: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.download img {
    width: 1.8rem;
    height: 1.8rem;
}

.download-content p,
.download-content h3 {
    font-size: 0.8rem;
}

.footer-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.horizontal-line {
    margin: 3rem 0rem 2.5rem;
    display: flex;
    width: 100%;
}

.last-content {
    color: rgb(105, 105, 105);
    margin-bottom: 2rem;
}


@media all and (width<=500px) {

    /* footer */
    footer {
        margin-top: 3rem;
        padding: 0.2rem 0% 0%;
    }


    .footer-header {
        margin-top: 1rem;
        justify-content: start;
        width: 100%;
    }

    .footer-img {
        margin-bottom: 24px;
    }

    .footer-header-drop-down {
        flex-wrap: wrap;
    }

    .countries-drop-down-container {
        bottom: 265px;
        right: -260px;
        margin-left: 40px;
        width: 18rem;
        grid-template-columns: repeat(2, 145px);
    }

    .social-links {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .social-heading {
        font-size: 0.8rem;
        text-align: center;
        margin: 25px 0 15px;
        letter-spacing: 5px;
    }

    .social-links-container a {
        margin-right: 20px;
    }

    .download-container {
        display: flex;
        justify-content: space-around;
        order: -1;
    }

    .download {
        width: 7rem;
        padding: 0.5rem;
        margin-top: 35px;
    }

    .download img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .download-content p,
    .download-content h3 {
        font-size: 0.6rem;
    }

    .footer-hero-section {
        margin-top: 1rem;
    }

    .footer-footer {
        padding: 0 10px;
    }

}